<html>
<style>
	table, th, td {
    border: 1px solid black;
	}
</style>
	<body>
	<a href="http://localhost:8000/"><b><-Back</b></a><p>
		<table>
		  <tr>
			<th>Name</th>
			<th>Type</th> 
			<th>Category</th>
		  </tr>
		  <tr>
			<td><a href="http://localhost:8000/item/page">Item 1</a></td>
			<td>Type 1</td> 
			<td>Some other thing</td>
		  </tr>
		  <tr>
			<td><a href="http://localhost:8000/item/page">Item 2</a></td>
			<td>Type 2</td> 
			<td>other thing</td>
		  </tr>
		</table>
	</body>
</html>