<!DOCTYPE html>
<html lang="en">
<!-- Loads the path to your static files -->
{% load static %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'landing/style.css' %}"/>
<!-- Navigation Bar -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:8000">Home</a>
        </div>
        <div class="navbar-form navbar-right">
            <a class="navbar-brand" >Logout</a>
        </div>
        <div class="navbar-form navbar-right">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Tourist
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Student</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Tourist</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Business</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<body>
{% block base %}

{% endblock %}
</body>